body {
    text-align: center;
}

.head {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 25px;
    color: #1877f2;
    display: block;
    line-height: 18px;
}

.input {
    border: #f5f6f7 solid 1px;
    border-radius: 4px;
    width: 350px;
    height: 15px;
    font-size: 14px;
    padding: 12px;
    text-shadow: none;
    background: #f5f6f7;
    text-align: start;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
}

.button {
    font-size: 17px;
    height: 40px;
    line-height: 40px;
    /* display: block; */
    width: 24%;
    text-shadow: 0 -1px rgb(0 0 0 / 25%);
    border: none;
    border-radius: 3px;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding: 0 16px;
    color: #fff;
    background: none;
    text-align: center;
    vertical-align: top;
    font-weight: bold;
    background-color: #1877f2;
    background-image: none;
    border-radius: 4px;
    bottom: -1px;
    right: -1px;
    left: -1px;
    top: -1px;
    border-image: none;
    border-width: 0;
    border-color: rgba(0, 0, 0, .15) rgba(0, 0, 0, .15) rgba(0, 0, 0, .26);
    box-shadow: 0 1px 0 rgb(0 0 0 / 14%), inset 0 -1px 1px 0 rgb(0 0 0 / 3%);
    border-radius: 4px;
    border-style: solid;
    inset: 0 -1px 1px 0 rgb(0 0 0 / 3%);
    right: -1px;
    left: -1px;
    top: -1px;
}

.footer {
    font-family: Helvetica, Arial, sans-serif;
    color: #1877f2;
    display: block;
}

.end {
    font-size: 17px;
    height: 40px;
    line-height: 40px;
    /* display: block; */
    width: 20%;
    text-shadow: 0 -1px rgb(0 0 0 / 25%);
    border: none;
    border-radius: 3px;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding: 0 16px;
    color: #fff;
    background: none;
    text-align: center;
    vertical-align: top;
    font-weight: bold;
    background-color: #00a400;
    background-image: none;
    border-radius: 4px;
    bottom: -1px;
    right: -1px;
    left: -1px;
    top: -1px;
    border-image: none;
    border-width: 0;
    border-color: rgba(0, 0, 0, .15) rgba(0, 0, 0, .15) rgba(0, 0, 0, .26);
    box-shadow: 0 1px 0 rgb(0 0 0 / 14%), inset 0 -1px 1px 0 rgb(0 0 0 / 3%);
    border-radius: 4px;
    border-style: solid;
    inset: 0 -1px 1px 0 rgb(0 0 0 / 3%);
    right: -1px;
    left: -1px;
    top: -1px;
}